* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #1E47FF;
}

p {
  padding: 0px;
  margin: 0px;
  color: #000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 18px 24px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1E47FF;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input[type=text], select {
  width: 100%;
  min-width: 300px;
  padding: 18px 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-size: 1em;
}

input[type=password], select {
  width: 100%;
  min-width: 300px;
  padding: 18px 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-size: 1em;
}

input[type=submit] {
  width: 100%;
  background-color: #1E47FF;
  color: white;
  padding: 18px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #646cff;
}
