.different-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 71px;
}

.different-item {
  display: flex;
  flex-direction: column;
}

.different-icon {
  margin-left: 0px;
}

.item-title {
  color: #12141d;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  text-align: left;
  margin-top: 31px;
}

.item-content {
  color: #797979;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 8px;
  text-align: left;
  max-width: 221px;
}

.learn-more-link {
  margin-left: 0px;
  margin-top: 32px;
}

.imonials-image {
  width: 100%;
  margin-top: 182px;
}

.news-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 124px;
}

.item-news-container {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.infor-owner {
  display: flex;
  margin-top: 24px;
  padding-bottom: 50px;
  border-bottom: 1px solid #E7ECF2;
}

.news-owner {
  display: flex;
  margin-left: 0px;
  margin-right: 5px;
}

.full-name {
  margin-left: 10px;
  color: #1e47ff;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.create-at {
  color: #8b8f95;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 480px) {
  .typing-img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .different-icon {
    width: 30px;
  }

  .different-item {
    margin-bottom: 30px;
  }

  .item-title {
    color: #12141d;
    margin-top: 10px;
  }
  
  .learn-more-link {
    margin-top: 10px;
  }

  .imonials-image {
    margin-top: 20px;
  }

  .news-container {
    margin-top: 20px;
  }

  .item-news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .news-img{
    width: 80%;
  }

  .title-mobile {
    width: 80%;
    margin: 0px auto;
  }

  .infor-owner {
    width: 80%;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  /* .typing-img {
    margin-top: 60px;
    margin-bottom: 60px;
  } */
  .typing-img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .different-icon {
    width: 30px;
  }

  .different-item {
    margin-bottom: 30px;
    align-self: center;
  }

  .item-title {
    color: #12141d;
    margin-top: 10px;
  }
  
  .learn-more-link {
    margin-top: 10px;
  }

  .imonials-image {
    margin-top: 20px;
  }

  .news-container {
    margin-top: 20px;
  }

  .item-news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
  }

  .item-news {
    width: 100%;
  }

  .news-img{
    width: 80%;
  }

  .title-mobile {
    width: 80%;
    margin: 0px auto;
  }

  .infor-owner {
    width: 80%;
  }
}
